/* Carol Goetz, March 24, 1998. */


/* This file is linked to by html files with a command such as

	<link rel=stylesheet href="/sales/collateral/datasheet.css" type="text/css">

   somewhere between <head> and </head>.*/

/* I want the background of all pages to be white by default */

body {	background:White;
		color:Black;
		font-family:Arial, Helvetica, sans-serif;
		font-style:normal}

/* Unless otherwise specified, all other text will use this base font. */
BASEFONT {	color: black;
		font-size: 10pt;
		font-weight: plain;
		font-family:Arial, Helvetica, sans-serif;
		font-style:normal
		}

/* And, unless otherwise specified, I want the font family and
weight of Headings to be defined as follows */

H1, H2, H3, H4, H5, H6 {font-style:normal}

/* And, unless otherwise specified, I want the size of the letters in the
6 Headings to be defined as follows */

H1 	{	font-family:Arial, Helvetica, sans-serif;
		font-size:24pt; 
		color: navy;
		font-variant: smallcaps }

H2	{	font-family:Times New Roman, MS serif;
		font-size:18pt; 
		}

H3 	{	font-family:Arial, Helvetica, sans-serif;
		font-size:12pt; 
		}

H4 	{	font-family:Arial, Helvetica, sans-serif;
		font-size:14pt;
		}

H5 	{	font-family:Arial, Helvetica, sans-serif;
		font-size:10pt;
		}

H6 	{	font-family:Arial, Helvetica, sans-serif;
		font-size:8pt;
		}

/* I'm declaring classes for special effects. None of these are actually implemented
yet in the datasheets but are left here to facilitate implementation should we decide
to do so.*/

.indent {text-indent:.5in}

.note	{	font-size:10pt;
		color: #006600;
		background: #ffffff;
		position: relative;
		padding: 2pt;
		border-width:thin;
		border-style:ridge;
		}


/* Links should all appear Maroon. */
A:link 	{	color: #990033; 
		}

/* Links, just as they are being selected, will appear gray, which I intended
to be darker than silver. This behaves differently between Netscape and IE. */
A:active 	{color: #666666; 
		}

/* Links which have been visited should be silver or light gray which I intend
to make them look de-emphasized. */
A:visited {	color: #999999; 
		}

P		{	font-size:10pt
		}

table {font-family: Arial, Helvetica, sans-serif}

td {font-family:Arial, Helvetica, sans-serif;
	}
th {font-family:Arial, Helvetica, sans-serif;
	}

OL, UL, DL	{	font-size: 10pt;
		}

ADDRESS	{	font-size: 8pt;
		font-family: Arial, Helvetica, sans-serif;
		text-align: right;
		}
